html,body {
  height: 100%;
}

body {
  background: none;
}

.full {
  background: image-url("steamwhistle.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.masthead {
  position: relative;
  padding: 8em 0;
  color: #fff;
  text-align: center;
  height: 100%;

  h1 {
    padding: 2em;
  }

  input {
    font-size: 28px;
    height: 45px;
    width: 20em;
    margin-bottom: 0;
    line-height: 34px;
  }

  form {
    padding: 2em;
  }

  div.alert.alert-warning {
    color: #fcf8e3;
    border-color: #c09853;
    background-color: #c09853;
  }

  .dark-bg {
    background: rgba(0,0,0,0.5);
    height: 100%;
  }
}


.tall-dark {
  background: rgba(0,0,0,0.5);
  height: 100%;
  padding: 1.5em 3em;
  color: white;
}

.beer-container {
  background: rgba(0,0,0,0.5);
  padding: 1.5em;

  .product-detail {

  }
}